/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~ol/ol.css';
@import '~ol-layerswitcher/dist/ol-layerswitcher.css';

/* Global classes for content organization*/
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.content {
  flex-grow: 1;
}

.full-height {
  height: 100%;
}
